<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- resources/mapper/contract/ContractMapper.xml -->
<mapper namespace="org.scoula.contract.mapper.ContractMapper">

    <insert id="insertContract" useGeneratedKeys="true" keyProperty="contractId">
        INSERT INTO contract (
            user_id, contract_name, lessor_name, lessee_name,
            address, land_category, land_area, building_usage,
            building_area, leased_part, leased_area,
            deposit, down_payment, balance, maintenance_cost,
            lease_start, lease_end
        ) VALUES (
                     #{userId}, #{contractName}, #{lessorName}, #{lesseeName},
                     #{address}, #{landCategory}, #{landArea}, #{buildingUsage},
                     #{buildingArea}, #{leasedPart}, #{leasedArea},
                     #{deposit}, #{downPayment}, #{balance}, #{maintenanceCost},
                     #{leaseStart}, #{leaseEnd}
                 )
    </insert>

</mapper>


