<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.checklist.mapper.RegistryAnalysisMapper">

    <select id="selectRegistryByUserId" resultType="org.scoula.checklist.domain.dto.RegistryAnalysisDTO">
        SELECT registry_id, address, analysis_date
        FROM registry_analysis
        WHERE user_id = #{userId}
        ORDER BY analysis_date DESC
    </select>

</mapper>
