<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.register.mapper.RegisterMapper">

    <insert id="insertRegister" parameterType="org.scoula.register.domain.dto.RegisterDTO">
        INSERT INTO registry_analysis (user_id, address, risks, registry_name, registry_rating, status, file_name)
        VALUES (#{userId}, #{address}, #{risks}, #{registryName}, #{registryRating}, #{status}, #{fileName})
    </insert>
</mapper>