<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.register.mapper.RegisterMapper">
    <!-- 등기부등본 분석 결과 등록 -->
    <insert id="insertRegister" parameterType="org.scoula.register.domain.dto.RegisterDTO">
        <selectKey keyProperty="registryId" order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO registry_analysis (user_id, address, risks, registry_name, registry_rating, file_name)
        VALUES (#{userId}, #{address}, #{risks}, #{registryName}, #{registryRating}, #{fileName})
    </insert>
    <!-- registryId로 조회 -->
    <select id="selectByRegisterId" parameterType="int" resultType="org.scoula.register.domain.dto.RegisterDTO">
        SELECT registry_id, user_id, address, risks, registry_name, registry_rating, analysis_date, status, file_name
        FROM registry_analysis
        WHERE registry_id = #{registryId}
    </select>
    <!-- 유저별 미체크된 등기부목록 조회 -->
    <!--
<select id="selectByUserId" resultType="org.scoula.register.domain.dto.RegisterDTO">
    SELECT *
    FROM registry_analysis ra
    WHERE user_id = #{userId} and status = true
      AND NOT EXISTS (
        SELECT 1
        FROM checklist c
        WHERE c.registry_id = ra.registry_id
    )
</select>
-->
    <select id="selectByUserId" resultType="org.scoula.register.domain.dto.RegisterDTO">
        SELECT *
        FROM registry_analysis
        WHERE user_id = #{userId}
    </select>

    <!-- 50일 이상 지난 등기부 status 비활성화 -->
    <update id="updateOldRegistryStatus">
        <![CDATA[
        UPDATE registry_analysis
        SET status = FALSE
        WHERE analysis_date < NOW() - INTERVAL 50 DAY
          AND status = TRUE
        ]]>
    </update>
</mapper>