<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.jeonseRate.mapper.JeonseAnalysisMapper">
    <insert id="insertJeonseAnalysis" parameterType="org.scoula.jeonseRate.domain.JeonseAnalysisVO">
        INSERT INTO jeonse_analysis (
            registry_id,
            user_id,
            expected_selling_price,
            deposit,
            jeonse_ratio,
            region_avg_jeonse_ratio,
            jeonse_ratio_rating
        )
        VALUES (
                   #{registryId},
                   #{userId},
                   #{expectedSellingPrice},
                   #{deposit},
                   #{jeonseRatio},
                   #{regionAvgJeonseRatio},
                   #{jeonseRatioRating}
               )
    </insert>
</mapper>
