<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.oauth.mapper.UserMapper">
    <select id="findByKakaoId" resultType="org.scoula.oauth.domain.DTO.KakaoUserDTO">
        SELECT user_id AS userId, kakao_id AS kakaoId, name, email, state, role
        FROM users
        WHERE kakao_id = #{kakaoId}
    </select>

    <insert id="insertUser">
        INSERT INTO users (kakao_id, name, email)
        VALUES (#{kakaoId}, #{name}, #{email})
    </insert>

    <update id="reactivateUser">
        UPDATE users
        SET state = true
        WHERE kakao_id = #{kakaoId}
    </update>

    <update id="softDeleteUser">
        UPDATE users
        SET state = false
        WHERE kakao_id = #{kakaoId}
    </update>

    <select id="findByUserId" resultType="org.scoula.oauth.domain.DTO.KakaoUserDTO">
        SELECT user_id AS userId, kakao_id AS kakaoId, name, email, state, role
        FROM users
        WHERE user_id = #{userId}
    </select>
</mapper>